*{
  margin: 0;
  padding: 0;
}
:root{
  --lightestGrey : #fafafa;
  --mediumGrey: #6f828a;
  --paleTurquoise: #99ccc8;
  --mediumTurquoise: #478e8a;
  --darkTurquoise: #234745;

}
html { 
  width: 100%;
  height: 100%;
  background-color: var(--lightestGrey) ;
}
h1{
  text-align: center;
  margin: 50px;
}
#main{
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

#left{
  display: relative ;
	width: 75%; 
	border: 2px solid var(--mediumTurquoise);
	border-radius: 10px;
}
#right{
  display:flex;
  width: 20%; 
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid var(--mediumTurquoise);
  border-radius: 10px;
}
.boards {
    display: relative;
    text-align: center;
    margin:20px;
    
}

.grid-container-opponent, .grid-container-mine{
    display: inline-grid;
    width: 90%;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-color: var(--mediumTurquoise);
    padding: 10px;
    border-radius: 10px;
    gap:2px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 20px;
    text-align: center;
    border-radius: 2px;
  }
  .grid-item:hover{
    background-color: var(--paleTurquoise);
  }

  .choices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    height: 45%;
    border: 2px solid var(--mediumTurquoise);
    border-radius: 10px;
    margin: 5px;
    
  }
 .content{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin:10px;
 }
 
 button{
  margin:5px;
  padding:2px;
 }
 .console{
  height: 45%;
  border: 2px solid var(--mediumGrey);
  border-radius: 10px;
  background-color: var(--mediumGrey);
  margin: 5px;

 }
 .text{
  display:inline-block;
  margin:20px;
  text-align: left;
  color: var(--lightestGrey)
 }
 

  .ship_present{
    background-color: blue ;
  }

  .hit{
    background-color: red;
  }

  .miss{
    background-color: green;
  }
  .sunk{
    background-color: orange;
  }

  .hover_over{
    background-color: purple;
  }